.counter-container {
  width: 100%;
  display: flex;
}

.counter {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.title {
  margin-right: 15px;
}

.buttons {
  display: flex;
  width: 15%;
  justify-content: space-between;
}
