input[type=text] {
    width: 100%;
    max-width: 400px;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
}

button {
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
}

button:active {
    border-color: black;
}

#container {
    padding: 5px;
}
